*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Dark-Dark-Blue: hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

body{
    background-color: var(--Very-Light);
    font-family: 'Nunito Sans';
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: var(--White);
}

.modo__oscuro{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.modo__oscuro p{
    margin-left: 10px;
}

.buscador{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
}

.cuadro{
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.contenedor__paises{
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;   
}

.contenedor__pais{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
}

.cont{
    width: 30%;
    height: 200px;
    border-radius: 5px;

}

.contenedor__imagen{
    width: 350px;
    height: 200px;
}

.imagen{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.contenedor__info{
    height: 160px;
    border-radius: 0 0 10px 10px;
    margin-left: 40px;
}

.contenedor__info h3{
    
    margin: 20px 0;
}

.contenedor__info p{
    margin-bottom: 10px;
}

.paises__info{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 100px; 
}

.boton__atras{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 50px 0 50px 5%;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.49);
    cursor: pointer;
}

i{
    font-size: 30px;
}

#no__encontrado{
    margin-left: 5%;
}

#lupa{
    cursor: pointer;
}





.ocultar{
    display: none;
}

.oscuro{
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
}

.oscuro__navbar{
    background-color: var(--Dark-Blue);
}

.oscuro__paises{
    background-color: var(--Dark-Blue);
} 

.lupa__oscura{
    color: var(--White);
}

.cuadro__oscuro{
    color: var(--White);
}

